html{
    background-color: #FFFCF2;
}
*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1400px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #403D39;
}

